#mastodon-comments-list 
  button 
    background-color: $color-accent-1
    border: 1px solid $color-border
    border-radius: 5%
    display: block
    padding: 0.5rem 1rem
    font-size: 1.0em
    font-family: inherit

.comment-level 
  svg 
    width: 1.5rem
    margin-top: 0.5rem
    color: var(--b-col-text-dimmer)
    
.mastodon-wrapper 
  display: flex
  flex-direction: row
  gap: 0.5rem
 
  .reply-original 
    display: none

  .reply-child 
    display: block
    flex: 0 0 1.75rem
    text-align: right

  .mastodon-comment 
    background-color: $color-background-code
    border: 1px solid $color-border
    border-radius: 0.5rem
    display: block
    flex: 1 1 auto
    font-size: 1rem
    margin: 0 0 0.75rem 0
    padding: 0

  .comment-meta 
    border-radius: 0.5rem 0.5rem 0 0
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 0.75rem
    box-sizing: border-box
    padding: 0.5rem 0.75rem
    width: 100%
    line-height: 1.2em

  .comment-avatar 
    display: block
    flex: 0 0 4rem

    img 
      width: 4rem
      border-radius: 10%
      margin-top: 0.15rem

  .comment-author 
    display: block
    flex: 1 1 0
    white-space: nowrap
    overflow-x: hidden
    width: 0
    margin-top: 0.4em

  .comment-author-name 
    font-weight: 700
    margin: 0

  .comment-author-reply
  .comment-date 
    font-size: 0.9rem
    margin: 0

  .comment-content 
    display: block
    box-sizing: border-box
    padding: 0.3rem 0.75rem 0.75rem 0.75rem
    margin: 0

  picture
   .emoji 
     height: 1em
     vertical-align: baseline

  .comment-content 
    p 
     margin: 0.7rem 0 0 0

    p:first-of-type 
     margin: 0

#comments
  h2
    color: $color-accent-1
    border-top: 1px solid $color-border
    padding: 1.5em 0 0 0
    margin-top: 0
