
.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: 14px

@media (min-width: 540px)

  .max-width-home
    max-width: 76rem !important

@media (min-width: 920px)

  .intro
    margin-left: 130px
    margin-right: 130px

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline

.inicio
  max-width: 140px
  width: 100%
  height: auto

.links_nav
  margin-bottom: 6em
  margin-top: 6em
  margin-left: auto
  margin-right: auto
  clear: both

.intro
  margin-bottom: 4rem

.row-item
  display: grid
  grid-template-columns: 24.6% 24.6% 24.6% 24.6%
  margin: 0 auto 3em auto !important
  
@media (min-width: 920px)
 .row-item
  margin: 0 100px 3em 100px !important

.item
  text-align: center
  margin: 0 10px 0

.item-link
  text-align: center
  margin-top: -15px
  font-weight: normal
  text-decoration: none
  font-size: 1.2rem

.item-clear
  clear: both

.social-icons
  letter-spacing: 0.6em
  font-size: 0.8rem

.footer-social
  position: absolute
  bottom: 3rem
  right: -1em
  text-align: right
  color: $color-meta
  font-size: 0.9rem
  width: 100%

@media (max-width: 680px)
  .footer-social
    right: unset
    text-align: center
    bottom: 6em

.footer-social a
  color: $color-meta
  text-decoration: none !important

.oli-quem a
  color: $color-accent-1
  text-decoration: none !important
  background-image: unset
  font-weight: unset

.oli-quem a:hover
  background-image: unset
  text-decoration: underline !important

.item a, .item h3
  color: $color-accent-1 !important
  text-decoration: none !important
  background-image: unset

.item a:hover, .item h3:hover
  text-decoration: underline !important
  background-image: unset

@media screen and (max-width: 580px)
  .row-item
    display: grid
    grid-template-columns: 33% 33% 33%
    margin: 0 auto 3em auto !important

  .inicio
    max-width: 80px
    width: 100%
    height: auto

.livros-lista
  display: flex
  flex-flow: wrap
  margin-left: -2rem

.livros-lista li
  padding: 0 10px 20px
  list-style: none
