<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h2 class="arquivo"><%= page.title %></h2>

  <div class="content" itemprop="articleBody">
    <%- page.content %>


    <div class="article-gallery rabiscos-gallery">
        <% page.rabiscos.forEach(function(rabisco, i) { %>

        <div>

          <img src="<%- rabisco.img_url %>_IMGP.png" itemprop="image" />

        <div class="caption caption-rabiscos">
          <br />
          <% if (rabisco.download) { %>

            <p class="img-link"><a aria-label="view" class="gallery-item gallery" data-featherlight="image" href="<%- rabisco.img_url %>.png" rel="gallery_<%= page._id %>"><i class="fas fa-search-plus fa-3x"></i></a></p>

          <p class="download-link">download:<br />

              <a aria-label="PNG download" href="https://dl.olimaia.net/yfo7j9jaxe_om_prints/<%- rabisco.r_id %>.png">PNG</a> | <a aria-label="PDF download" href="https://dl.olimaia.net/yfo7j9jaxe_om_prints/<%- rabisco.r_id %>.pdf">PDF</a></p>

            <% } else { %>

              <br />

              <p class="img-link"><a aria-label="view" class="gallery-item gallery" data-featherlight="image" href="<%- rabisco.img_url %>.png" rel="gallery_<%= page._id %>"><i class="fas fa-search-plus fa-4x"></i></a></p>

            <% } %>

        </div>

        </div>

        <% }) %>

    </div>

  </div>

</article>
