<section id="content">

  <div class="links_nav">

    <div class="intro">
	  <p class="oli-quem small" style="text-align: right"><em><a href="/en">english page</a></em></p>
      <p class="oli-quem">
        olá! meu nome é <a href="/quem"><strong>oli maia</strong></a>, sou <a href="/arte"><strong>artista</strong></a>, <a href="/livros"><strong>escritor</strong></a> e eventualmente o pior artesão da história dos artesãos. entre em contato via <a href="https://www.t.me/olimaia">telegram</a>, <a href="https://matrix.to/#/@nyex:matrix.org">matrix</a> ou <a href="mailto:oli@olimaia.net">email</a>.
      </p>
      <p class="oli-quem">
        minha arte está disponível sob licença <em>creative commons</em>; você pode apoiar meu trabalho via <a href="https://catarse.me/olimaia">catarse</a>, <a href="https://pt.liberapay.com/nyex/">liberapay</a> ou <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=D3MSR4A6T4F2J&amp;source=url">paypal</a>.
      </p>
    </div>

    <div class="row-item">
      <div class="item">
        <a href="<%- url_for(theme.nav.blog) %>"><img class="inicio" src="/img/1.png" />
          <h3 class="item-link">
            blog </h3>
        </a>

      </div>
      <div class="item">
        <a href="<%- url_for(theme.nav.livros) %>"> <img class="inicio" src="/img/4.png" />
          <h3 class="item-link">
            livros</h3>
        </a>

      </div>
      <div class="item">
        <a href="<%- url_for(theme.nav.arte) %>"><img class="inicio" src="/img/5.png" />
          <h3 class="item-link">
            arte</h3>
        </a>

      </div>
      <div class="item">
        <a href="<%- url_for(theme.nav.zine) %>"><img class="inicio" src="/img/3.png" />
          <h3 class="item-link">
            zine</h3>
        </a>

      </div>

    </div>
    <div class="item-clear"></div>
  </div>

  <div class="footer-social">
    <%- partial('_partial/social') %>
  </div>

</section>
