<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="capa-livro">
    <% page.photos.forEach(function(photo, i) { %>
    <a href="<%- url_for(photo) %>" data-featherlight="image"><img src="<%- url_for(photo) %>" /></a>
    <% }) %>
  </div>

  <div class="info-livro clearfix">
    <h1><%= page.title %></h1>
    <p>
      <%= page.data %>
    </p>
    <p>
      <strong><%= page.páginas %></strong> págs.
      <% if (page.formato) { %>| <strong><%= page.formato %></strong> cm <% } %> <% if (page.peso) { %>| <strong><%= page.peso %></strong><% } %>
    </p>

    <% if (page.isbn) { %>
    <p>
      <strong>ISBN</strong> <%= page.isbn %>
    </p>
    <% } %>
    <p>
      <%= page.editora %>
    </p>
    <% if (page.infoextra) { %>
    <p>
      <em><%= page.infoextra %></em>
    </p>
    <% } %>
    <% if (page.goodreads) { %>
    <p>
      → <a href="<%= page.goodreads %>">adicionar no goodreads</a>
    </p>
    <% } %>

    <% if (page.id_compra_impresso || page.id_compra_digital && !page.nameyourprice) { %>

    <h3 class="compra_listagem">
      <i class="fas fa-angle-double-right"></i> comprar do autor
    </h3>

    <% } %>

    <% if (page.id_compra_impresso && !page.nameyourprice) { %>


      <p class="item_name hidden"><%= page.id_compra_impresso %></p>

      <p class="item_price hidden"><%= page.preco_impresso %></p>

        <h3>
          impresso (frete incluso):
        </h3>

        <p>

    <% if (page.preco_impresso_original) { %>

        <span class="thick_strike">&nbsp<%= page.preco_impresso_original.replace('.' , ',') %>&nbsp</span>

    <% } %>

        <span class="precos">

          <%= page.preco_impresso.replace('.' , ',') %>

        </span>
 </p> 
 
 
    <% } %>

    <% if (page.id_compra_digital  && !page.nameyourprice) { %>

      <p class="item_name hidden"><%= page.id_compra_digital %></p>

      <p class="item_price hidden"><%= page.preco_digital %></p>

        <h3>
          digital (epub ou mobi):
        </h3>

        <p>

    <% if (page.preco_digital_original) { %>

        <span class="thick_strike">&nbsp<%= page.preco_digital_original.replace('.' , ',') %>&nbsp</span>

    <% } %>

        <span class="precos">

          <%= page.preco_digital.replace('.' , ',') %>

        </span>

        </p>
        
    <% } %>
    <% if (page.id_compra_impresso || page.id_compra_digital) { %>
        
        <h3 class="compra_listagem">entre em contato para comprar</h3>
        
        <p>
        <a href="mailto:oli@olimaia.net">oli@olimaia.net</a> | <a href="https://www.t.me/olimaia">telegram</a>
        
        </p>
        
    <% } %>

    <% if (page.nameyourprice) { %>

      <h3 class="compra_listagem"> <i class="fas fa-angle-double-right"></i> download gratuito</h3>


        <p class="livro_download">
          <a class="icon" href="<%- page.link_download %>">
            <i class="fas fa-download"></i> dl/<%= page.title %>
          </a> ←
        </p>

    <% } %>


  </div>

  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>

</article>
