<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h2 class="arquivo"><%= page.title %></h2>

  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>

    <p class="clearfix">
    </p>

  <div class="lista-zines">

    <% page.zines.forEach(function(zine) { %>

      <div class="info-zines">

        <a class="simple-link" href="<%- zine.capa %>" data-featherlight="image"><img class="zine-img" alt="capa do zine" src="<%- zine.capa %>" /></a>

        <a name="<%= zine.filename %>"></a><p class="zine-edicao"><%= zine.edicao %></p>

        <p class="zine-meta"><em><%= zine.tema %></em></p>

        <p class="zine-meta"><%= zine.páginas %> págs.</p>

<div class="links_zine simpleCart_shelfItem">

  <p class="item_name hidden"><%= zine.edicao %></p>

  <p class="item_price hidden"><%= zine.preco %></p>

        <p class="zine-meta super-social">
            <a class="icon" href="https://dl.olimaia.net/io3qn2p2tu_om_rabiscologia/zine_<%= zine.filename %>.pdf"><i class="fas fa-download"></i> download/pdf</a>
        </p>

      </div>

      </div>

    <% }) %>

  </div>

</article>
