<% if (index) { %>
    <% if (post.link) { %>
        <a class="u-url <%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
    <% } else if (post.title) { %>
        <a class="u-url <%= class_name %>" href="<%- url_for(post.path) %>"><span class="p-name"><%= post.title %></span></a>
    <% } else { %>
        <a class="u-url <%= class_name %>" href="<%- url_for(post.path) %>"><span class="p-name">sem título</span></a>
    <% } %>
<% } else { %>
    <h1 class="p-name <%= class_name %>" itemprop="name headline">
        <%= post.title %>
    </h1>
<% } %>
