<footer id="footer">


  <% if (is_category('eng')) { %>
  
    <div class="footer-left">

    <a class="simple-link" href="https://creativecommons.org/licenses/by-sa/4.0/deed" title="website license: creative commons by-sa"><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i></a> <a class="h-card u-url u-uid" rel="me" href="<%= config.url %>/en">oli maia</a> | <a href="https://wikipedia.org/wiki/Copyleft">copyleft | free culture</a>

    </div>
  
  <% } else { %>
  
    <div class="footer-left">

    <a class="simple-link" href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" title="website license: creative commons by-sa"><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i></a> <a class="h-card u-url u-uid" rel="me" href="<%= config.url %>">oli maia</a> | <a href="https://pt.wikipedia.org/wiki/Copyleft">copyleft | cultura livre</a>

    </div>
  
  
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %>
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
        <li>
            <a href="/busca/"><i class="fas fa-search"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  
  <% } %>
  
  
</footer>
