<header id="header">
  <a href="<%- url_for("/") %>">
  <% if (theme.logo && theme.logo.enabled) { %>
    <% if (theme.gravatar.email && theme.logo.gravatar) { %>
      <div id="logo" style="background-image: url(<%- gravatar(theme.gravatar.email) %>);"></div>
    <% } else { %>
      <div id="logo" style="background-image: url(<%- url_for(theme.logo.url) %>);"></div>
    <% } %>
  <% } %>
    <div id="title">
      <h1><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
    <% if (!is_home()) { %>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
    <% } %>


      <% if (is_category('eng')) { %>

      <li><a href="/en/">brazilian writer & illustrator</a></li>
      <li><a href="/en/art">art</a></li>
      <li><a href="/"><em>pt_BR</em></a></li>

      <% } else { %>
        <% for (var i in theme.nav) { %>
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
          <% } %>
          <li><em><a href="/en">english</a></em></li>
          <li>
            <a href="/busca/"><i class="fas fa-search"></i></a>
          </li>
      <% } %>

    </ul>
  </div>
</header>
