<head>
  <!-- so meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%- open_graph({
        image:          thumbnail(page),
    }) %>
  <%- meta(page) %>

<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
<link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">

 
  <% if (is_home()) { %>

  <title><%= config.title %></title>
  
  <% } else if (is_category('eng')) { %>
  
  <title><%= config.title %></title>

  <% } else { %>

  <title><%= page_title() %> | <%= config.title %></title>

  <% } %>


  <!-- styles -->
  <%- css('css/style') %>
  <!-- rss -->
  <% if (theme.rss === '' && config.feed && config.feed.path) { %>
  <% theme.rss = config.feed.path %>
  <% } %>
  <% if (theme.rss) { %>
  <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml" />
  <% } %>
</head>
